@media(max-width: 1650px) { //до этой ширины
    .main {
        padding-left: 415px;
    }

    .trade{
        &__models {
            &_text {
                font-size: 17px;
                margin-left: 0;
            }
        }

        &__original {
            &_text {
                font-size: 17px;
                margin-left: 10px;
            }
        }
    }

    .menu {
        &__item {
            margin-right: 10px;
        }
    }

    .footer {
        &__column {
            &-2 {
                transform: translateX(70px);
            }
        }
    }
}

@media(max-width: 1530px) { //до этой ширины
    .logotype {
        width: 550px;
        img {
            width: 80%;
        }
    }

    .main {
        padding-left: 350px;
        &__wrapper {
            margin-left: 100px;
        }
    }

    .footer {
        &__column {
            &-2 {
                transform: translateX(100px);
            }
        }
    }
}

@media(max-width: 1460px) { //до этой ширины
    .logotype {
        width: 400px;
        img {
            width: 100%;
            height: 90%;
        }
    }

    .header {
        &__wrapper {
            margin-left: 300px;
        }
    }

    .main {
        padding-left: 0;
        &__wrapper {
            padding-top: 80px;
            margin-left: 270px;
            margin-right: 0;
            width: 640px;
        }

        &__city {
            width: 150px;
            left: 382px;
        }

        &__title {
            h1 {
                font-size: 35px;
                height: 53px;
                width: 535px;
            }

            h2 {
                font-size: 21px;
                margin-left: 20px;
                margin-right: 15px;
                
            }

            h3 {
                font-size: 14px;
                span {
                    font-size: 14px;
                }
            }
        }
    }

    .menu {

        &__wrapper {
            margin-top: 60px;
        }

        &__item {
            width: 140px;
        }

        &__trade {
            transform: translateY(7px);
        }

        &__name {
            font-size: 14px;
            width: 140px;
        }

        &__text {
            font-size: 11px;
        }

        &__repair {
            transform: translateY(7px);
        }
    }

    .intro {
        &__wrapper {
            margin-left: 65px;
        }

        &__diagnostic {
            width: 390px;
            height: 88px;
            font-size: 22px;
        }

        &__ptofi {
            width: 472px;
            height: 142px;
            font-size: 22px;
            padding-top: 82px;
        }

        &__lowprice {
            font-size: 22px;
            width: 389px;
            height: 90px;
        }

        &__garantee {
            width: 325px;
            font-size: 22px;
            height: 80px;
        }

        &__staff {
            font-size: 22px;
            width: 650px;
            height: 97px;
        }
    }

    .abil {
        &__wrapper {
            margin-top: 100px;
        }

        &__title {
            font-size: 21px;
        }

        &__suubtitle {
            font-size: 16px;
            span {
                font-size: 24px;
            }
        }

        &__tel {
            margin-top: 40px;
            a {
                font-size: 20px;
            }
        }

        &__maintel {
            font-size: 20px;
        }
    }

    .refill {
        &__text, &__subtext {
            font-size: 16px;
            span {
                font-size: 16px;
            }
        }

        &__icon {
            left: 580px;
        }

        &__adv, &__contacts {
            font-size: 20px;
        }

        &__phone {
            font-size: 32px;
        }

    }

    .section {
        &__row {
            width: 950px;
        }

        &__logo {
            margin-right: 0;
        }

        &__choice {
            font-size: 30px;
            width: 180px;
            height: 52px;
            transform: translateY(-5px);
        }

        &__menu {
            width: 490px;
            margin-left: 20px;
        }
    }

    .update {
        &__text {
            margin-left: 170px;
            font-size: 16px;
        }

        &__decision {
            font-size: 22px;
            height: 56px;
            width: 867px;
            margin: 0 auto;
            margin-top: 60px;
        }

        &__step_one, &__step_two, &__step_three {
            font-size: 16px;
        }

        &__step_three {
            width: 700px;
        }

        &__explanation, &__models, &__about {
            font-size: 16px;
        }

        &__about {
            width: 850px;
        }

        &__onpoint, &__repair {
            font-size: 21px;
        }

        &__onpoint {
            &_bg {
                left: 545px;
            }
        }
    }

    .repair {
        &__computers, &__printers, &__screens, &__notebooks {
            font-size: 22px;
            width: 260px;
            height: 50px;
            line-height: 50px;
        }

        &__computers {
            &_text {
                font-size: 15px;
                width: 600px;
                margin-left: -70px;
            }
        }

        &__printers {
            margin-left: 370px;
            &_wrapper {
                margin-left: 30px;
            }

            &_text {
                font-size: 15px;
            }

            &_img {
                left: 540px;
            }
        }

        &__screens {
            &_wrapper {
                width: 990px;
            }

            &_text {
                font-size: 15px;
            }
        }

        &__notebooks {
            margin-left: 380px;
            &_content {
                margin-left: 20px;  
            }

            &_img {
                left: 520px;
                top: 0;
            }

            &_text {
                font-size: 15px;
            }
        }
    }

    .trade {
        &__text {
            font-size: 15px;
        }

        &__contacts {
            font-size: 16px;
        }

        &__phone {
            font-size: 30px;
            margin-left: 15px;
        }

        &__icon {
            left: 375px;
        }

        &__cartridge {

            &_img {
                left: 560px;
            }
            &_text {
                font-size: 15px;
                margin-left: 30px;
            }
        }

        &__models {
            &_text {
                font-size: 15px;
            }
        }

        &__reliability {
            &_text {
                font-size: 15px;
                margin-left: 30px;
            }
             &_img {
                left: 620px;
            }
        }

        &__original {
            &_text {
                font-size: 15px;
            }
        }
    }

    .footer {
        &__wrapper {
            padding-right: 0;
        }
    }
}

@media(max-width: 1200px) { //до этой ширины
    .container {
        max-width: 960px;
        overflow-x: hidden;
    }

    .logotype {
        margin-left: 0;
        width: 400px;
        height: 485px;
    }

    .section {
        &__menu {
            margin-left: 20px;
        }

        &__logo {
            margin-right: 10px;
        }
        &__choice {
            transform: translateY(-7px);
            font-size: 34px;
        }
    }

    .refill {
        &__text, &__subtext {
            margin-left: 220px;
            font-size: 16px;
        }

        &__adv {
            margin-left: 130px;
            font-size: 20px;
        }

        &__contacts {
            font-size: 20px;
        }

        &__phone {
            font-size: 26px;
        }
    }

    .update {
        &__text {
            margin-left: 170px;
            font-size: 17px;
        }

        &__decision {
            margin-left: 70px;
        }

        &__onpoint {
            margin-left: 100px;
            &_bg {
                left: 530px;
            }
        }

        &__repair {
            margin-left: 100px;
        }

        &__step {
            &_three {
                margin-left: 265px;
            }
        }
    }

    .repair {

        &__computers {
            &_text {
                font-size: 16px;
            }
        }

        &__printers {
            margin-left: 380px;
            &_wrapper {
                margin-left: 25px;
            }
            &_text {
                font-size: 16px;
            }
            &_img {
                left: 550px;
            }
        }

        &__screens {
            &_text {
                font-size: 16px;
            }
        }

        &__notebooks {
            margin-left: 410px;
            &_img {
                left: 520px;
            }
            &_text {
                font-size: 16px;
            }
        }
    }

    .trade {
        &__cartridge {
            &_text {
                margin-left: 25px;
            }
            &_img {
                left: 560px;
            }
        }

        &__reliability {
            &_text {
                margin-left: 25px;
            }
            &_img {
                left: 630px;
            }
        }

        &__contacts {
            margin-left: 170px;
        }

        &__phone {
            margin-left: 10px;
        }

        &__icon {
            left: 420px;
        }
    }
        
    .header {
        &__wrapper {
            margin-left: 325px;
        }
    }

    .main {
        &__wrapper {
            margin-left: 300px;
        }
        &__menu {
            transform: translateX(-80px);
        }
        &__title {
            h1 {
                margin-left: 110px;
                width: 532px;
            }
            h2 {
                margin-right: 85px;
            }
            h3 {
                margin-left: 60px;
            }
        }
    }

    .intro {
        &__wrapper {
            margin-left: 50px;
        }

        &__diagnostic, &__profi, &__lowprice, &__garantee, &__staff {
            font-size: 22px;
        }
    }

    .abil {
        &__title {
            margin-left: 0;
            font-size: 22px;
        }

        &__suubtitle {
            margin-left: 285px;
            span {
                font-size: 32px;
            }
        }

        &__wrapper {
            margin-bottom: 215px;
        }

        &__tel{
            left: -70px;
        }
    }

    .footer {
        &__logo {
            left: 60px;
        }

        &__wrapper {
            padding: 60px 20px 19px 106px;
            width: 960px;
        }
        &__column{
            &-2 {
                font-size: 12px;
                transform: translateX(150px);
            }
            &-3 {
                font-size: 15px;
                transform: translateX(100px);
            }
        }

        &__links {
            font-size: 15px;
        }
    }
}

@media(max-width: 992px) { //до этой ширины
    .container {
        max-width: 720px;
        // overflow-x: unset;
    }
    .header {
        &__wrapper {
            margin: 0 auto;
        }
    }

    .logotype {
        width: 250px;
        height: 300px;
        top: 92px;
    }

    .main {
        &__wrapper {
            margin-left: 110px;
        }

        &__city {
            left: 330px;
            width: 135px;
        }

        &__title {
            h1 {
                font-size: 30px;
                width: 465px;
                line-height: 50px;
            }

            h2 {
                font-size: 20px;
                margin-right: 90px;
            }

            h3 {
                margin-top: 10px;
            }
        }
    }

    .intro {
        &__wrapper {
            margin: 0 auto;
            margin-top: 70px;
        }

        &__title {
            font-size: 23px;
            transform: translateX(-100px);
        }

        &__diagnostic, &__ptofi, &__lowprice, &__garantee, &__staff {
            font-size: 20px;
        }

        &__diagnostic {
            margin-left: 10px;
        }

        &__ptofi {
            margin-left: 240px;
            margin-top: 20px;
            transform: translateY(-45px);
        }

        &__lowprice {
            transform: translateY(-45px);
        }

        &__garantee {
            transform: translateY(-30px);
            margin-left: 385px;
        }

        &__staff {
            margin-left: 30px;
        }
    }

    .abil {
        &__wrapper {
            display: block;
        }

        &__title {
            margin: 0 auto;
        }

        &__suubtitle {
            margin-left: 40px;
        }

        &__tel {
            margin-left: 430px;
        }
    }

    .section {
        &__refill {
            min-height: 660px;
        }

        &__update {
            min-height: 1315px;
        }

        &__repair {
            min-height: 2035px;
        }

        &__trade {
            min-height: 1525px;
        }

        &__choice {
            font-size: 26px;
            height: 44px;
            width: 160px;
            transform: translateY(-9px);
           
        }
        &__row {
            width: 720px;
        }

        &__logo {
            display: inline-block;
            margin-right: 0;
            width: 200px;
            img {
                width: 110%;
                transform: translate(-15px, 65px);
            }
        }
    }

    .refill {
        &__text, &__adv, &__subtext, &__contacts {
            width: 100%;
            margin-left: 0;
            margin-top: 30px;
            margin-bottom: 0;
        }

        &__icon {
            left: 510px;
            top: -5px;
        }

        &__adv {
            width: 770px;
            font-size: 18px;
        }
    }

    .update {
        &__text {
            margin-left: 20px;
            margin-top: 60px;
            width: 700px;
        }

        &__decision {
            margin-left: 0;
            background-size: 85%;
            transform: translateX(-70px);
        }

        &__step {
            &_one {
                margin-left: 20px;
            }

            &_two {
                margin-left: 90px;
            }

            &_three {
                margin-left: 160px;
                width: 515px;
            }
        }

        &__explanation, &__models, &__onpoint, &__about, &__repair {
            margin-left: 20px;
            width: 100%;
        }

        &__onpoint {
            margin-left: 10px;
            &_bg {
                left: 520px;
                background-size: 70%;
            }
        }

        &__repair {
            &_bg {
                background-size: 70%;
            }
        }
    }

    .repair {
        &__computers {
            &_wrapper {
                margin-top: 80px;
            }
            
            &_content {
                width: 470px;
            }

            &_text {
                width: 4550px;
                font-size: 14px;
            }

            &_img {
                background-size: 150%;
            }
        }

        &__printers {
            margin-left: 155px;
            &_content {
                width: 400px;
            }

            &_text{
                font-size: 14px;
                width: 420px;
            }

            &_img {
                left: 325px;
                background-size: 80%;
            }
        }

        &__screens {
            &_text {
                font-size: 14px;
                width: 500px;
            }

            &_wrapper {
                width: 700px;
            }

            &_content {
                width: 475px;
            }
            &_img {
                background-size: 150%;
                
            }
        }

        &__notebooks {
            margin-left: 300px;

            &_content {
                width: 500px;
            }

            &_text {
                font-size: 14px;
            }

            &_img {
                left: 380px;
                top: 20px;
                background-size: 70%
            }
        }
    }

    .trade {
        &__cartridge {
            &_text {
                width: 535px;
                font-size: 13px;
            }
            &_img {
                top: -125px;
                left: 380px;
                background-size: 80%
            }
        }

        &__icon {
            top: 3px;
            left: 330px;
        }

        &__models {
            &_text {
                font-size: 13px;
                width: 985px;
            }

            &_img {
                transform: translateY(-50px);
                background-size: 110%
            }

            &_wrapper {
                margin-bottom: 10px;
            }
        }

        &__reliability {
            &_text {
                font-size: 13px;
            }

            &_img {
                background-size: 80%;
                transform: translate(-140px, -25px);
            }
        }

        &__original {
            &_text {
                font-size: 13px;
                width: 1050px;
            }
            &_img {
                background-size: 125%;
            }
        }

        &__text {
            font-size: 13px;
            margin-left: 40px;
        }

        &__contacts {
            margin-left: 40px;
        }
    }

    .footer {
        &__wrapper {
            padding-left: 20px;
            width: 770px;
        }

        &__logo {
            left: 40px;
        }

        &__column {
            &-1 {
                transform: translateX(10px);
            }

            &-2 {
                transform: translate(195px, -3px);
            }

            &-3 {
                transform: translateX(120px);
            }
        }
    }
}

@media(max-width: 768px) { //до этой ширины
    .container {
        max-width: 540px;
    }

    .header {
        &__adress, .timer__dinnertime, .timer__worktime, .timer__dinner {
            font-size: 11px;
        }
        
        .timer {
            &__weekend {
                transform: translateX(-20px);
            }
        }

        &__adress {
            margin-right: 0;
        }

        &__wrapper {
            transform: translateX(-40px);
        }
        
        &__tel {
            transform: translateX(-55px);
            background-size: 90%;
            padding: 10px 45px 7px 65px;
            &_wraper {
                width: 120px;    
            }
            a {
                font-size: 14px;
            }
        }
    }

    .logotype {
        width: 200px;
        height: 270px;
        top: -16px;
    }

    .main {
        &__wrapper {
            margin-left: 65px;
            padding-top: 30px;
        }

        &__city {
            left: 235px;
            top: 55px;
            text-align: center;
            display: block;
            width: 120px;
            height: 45px;
            background-color: #000000;
        }

        &__title {
            h1 {
                font-size: 25px;
                width: 300px;
                height: 45px;
                line-height: 45px;
            }

            h2 {
                margin-top: 100px;
                margin-right: 200px;
            }

            h3 {
                margin-left: 0;
                width: 520px;
                transform: translateX(-50px);
            }
        }
        &__menu {
            margin: 0 auto;
            flex-wrap: wrap;
            width: 365px;
        }
    }

    .menu {
        &__wrapper {
            margin-top: 10px;
        }
    }

    .intro {
        &__wrapper {
            margin-top: 60px;
        }

        &__title {
            transform: translateX(-160px);
        }

        &__diagnostic {
            background-size: 80%;
            margin-top: 50px;
            transform: translateX(-30px);
        }

        &__ptofi {
            background-size: 80%;
            transform: translate(-135px, -65px);
            padding-top: 70px;
            padding-left: 25px;
        }

        &__lowprice {
            transform: translateY(-90px);
            background-size: 80%;
        }

        &__garantee {
            background-size: 80%;
            transform: translate(-135px, -65px);
        }

        &__staff {
            margin-left: 0;
            background-size: 80%;
            transform: translate(-55px, -65px);
        }
    }

    .abil {
        &__wrapper {
            margin-top: 20px;
            
        }

        &__tel {
            margin-left: 185px;
        }

        &__title {
            margin-left: 60px;
        }

        &__suubtitle {
            margin-top: 20px;
            margin-left: 150px;
        }
    }

    .refill {
        &__text, &__subtext {
            margin: 0 auto;        
            margin-bottom: 70px;
            width: 420px;
        }

        &__adv, &__contacts {
            font-size: 18px;
            width: 420px;
            margin: 0 auto;
            margin-bottom: 60px;
        }

        &__subtext {
            margin-bottom: 150px;
        }

        &__contacts {
            a {
                display: block;
            }
        }

        &__icon {
            left: 155px;
            top: 55px;
        }
    }

    .section {
        &__row {
            flex-wrap: wrap;
            margin-bottom: 250px;
        }

        &__choice {
            transform: translate(-300px, 20px);
        }

        &__wrapper {
            margin-top: 0;
            padding-top: 0;
        }

        &__refill {
            min-height: 1075px;
        }

        &__update {
            min-height: 1625px;
        }

        &__repair {
            min-height: 2260px;
        }

        &__trade {
            min-height: 1900px;
        }
    }

    .update {
        &__text {
            font-size: 16px;
            width: 420px;
            margin: 0 auto;
            margin-bottom: 80px;
        }

        &__decision {
            font-size: 18px;
            transform: translateX(-150px);
            background-size: 65%;
        }

        &__step {
            &_three {
                width: 385px;
                margin-bottom: 50px;
            }
        }

        &__explanation, &__models, &__about, &__onpoint, &__repair {
            margin: 0 auto;
            width: 420px;
            margin-bottom: 30px;
        }

        &__onpoint {
            font-size: 18px;
            &_bg {
                left: 265px;
            }
        }

        &__repair {
            font-size: 18px;
            &_bg {
                left: 100px;
            }
        }
    }

    .repair {
        &__computers {
            transform: translateX(50px);

            &_wrapper {
                margin-top: 310px;
                
            }

            &_content {
                width: 350px;
            }

            &_img {
                transform: translate(50px, -150px);
                background-size: 160%;  
                z-index: -1;
            }

            &_text {
                margin-top: 60px;
                transform: translateX(-90px);
                width: 480px;
            }
        }

        &__printers {
            transform: translateX(-140px);
            &_img {
                left: 175px;
                top: -130px;
            }
        }

        &__screens {
            transform: translateX(20px);

            &_img {
                transform: translateY(-160px);
            }

            &_text {
                transform: translate(-190px, 50px);
            }
        }

        &__notebooks {
            transform: translateX(-300px);

            &_text {
                transform: translateY(50px);
            }

            &_img {
                transform: translate(-180px, -150px);
            }

            &_wrapper {
                margin-top: 130px;
            }
        }
    }

    .trade {
        &__cartridge {
            &_text {
                width: 420px;
                margin: 0 auto;
                margin-top: 140px;
            }

            &_img {
                top: -75px;
                left: 200px;
            }
        }

        &__icon {
            top: 20px;
        }

        &__models {
            &_text {
                width: 420px;
                margin: 0 auto;
                margin-top: 80px;
            }
        }

        &__reliability {
            &_text {
                width: 530px;
                margin: 0 auto;
                margin-top: 180px;
            }

            &_img {
                transform: translate(-400px, 40px);
            }
        }

        &__original {
            &_text {
                width: 530px;
                margin: 0 auto;
                margin-top: 120px;
            }
        }

        &__text {
           margin-left: 0;

        }
    }

    .footer {
        &__logo {
            width: 160px;
            height: 160px;
            top: -40px;
        }

        &__column {
            &-1 {
                width: 95px;
                transform: translate(435px, 10px);
            }

            &-2 {
                transform: translate(-80px,10px);
                span {
                    display: inline-block;
                    transform: translate(178px, -17px);
                }
            }

            &-3 {
                transform: translate(-360px, -40px);
            }

            &-4 {
                transform: translate(-210px, -30px);
            }
        }
    }
}

@media(max-width: 576px) { //до этой ширины
    * {
        transform: none;
        padding: 0;
        margin: 0;
    }

    .container {
        width: 100%;
        padding: 0;
    }

    .header {
        &__wrapper {
            width: 410px;
        }

        &__tel {
            display: none;
        }

        &__adress {
            margin-left: 16px;
        }
    }

    .timer {
        margin-left: 7px;
        &__weekend {
            margin-left: 10px;
        }
    }

    .logotype {
        width: 330px;
        height: 350px;
        margin: 0;
        padding: 0;
        top: 49px;
        img {
            width: 100%;
            height: 100%;
        }
    }

    .social {
        top: 216px;
    }

    .main {
        &__wrapper {
            margin: 0;
            padding: 0;
        }

        &__city {
            left: 200px;
        }

        &__title {
            h1 {
                text-align: center;
                width: 275px;
                height: 39px;
                margin-top: 304px;
                margin-left: 24px;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                letter-spacing: 0.01em;
                line-height: 39px;
                color: #FFFFFF;
                span {
                    margin: 0;
                    padding: 0;
                    width: 135px;
                    height: 39px;
                    text-align: center;
                    line-height: 39px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    letter-spacing: 0.01em;
                    color: #FFFFFF;
                    margin-top: 7px;
                    margin-left: 191px;
                }
            }

            h2 {
                margin: 0;
                padding: 0;
                font-size: 15px;
                color: #000000;
                margin-top: 62px;
                margin-left: 33px;
                width: 295px;
                height: 22px;
            }
            
            h3 {
                position: absolute;
                margin: 0;
                padding: 0;
                transform: none;
                width: 328px;
                height: 92px;
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                letter-spacing: -0.01em;
                color: #000000;
                margin-left: 16px;
                top: 1020px;
            }
        }

        &__tel {
            position: relative;
            display: block;
            background: url('../img/maintel_bg.png') center center/cover no-repeat;
            width: 328px;
            height: 55px;
            margin-top: 12px;
            padding-top: 18px;

            &_phone {
                position: absolute;
                display: block;
                left: 218px;
                top: -2px;
            }

            a {
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                color: #FFFFFF;
                margin-left: 66px;
            }
        }

        &__menu {
            margin: 0;
            padding: 0;
            width: 160px;
            margin-top: 46px;
            transform: none;
            margin-left: 100px;
        }
    }

    .menu {
        &__bugfix {
            transform: translateY(13px);
        }

        &__name {
            font-weight: bold;
            font-size: 18px;
            color: #141414;
            width: 160px;
            
        }

        &__text {
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            color: #000000;
            width: 160px;
            margin-top: 10px;
        }
    }

    .intro {
        &__wrapper {
            margin: 0;
            padding: 0;
            width: 100%;
        }

        &__title {
            transform: none;
            margin-top: 195px;
            font-size: 20px;
            color: #000000;
            margin-left: 61px;
            width: 182px;
            span {
                margin-top: 11px;
                display: inline-block;
                margin-left: 40px;
                width: 202px;
            }
        }

        &__company {
            margin: 0;
            padding: 0;
            width: 140px;
            height: 41px;
            font-style: normal;
            font-weight: normal;
            font-size: 29px;
            line-height: 41px;
            letter-spacing: 0.01em;
            color: #FFFFFF;
        }

        &__blot {
            transform: none;
            margin: 0;
            padding: 0;
            width: 233px;
            height: 260px;
            top: -60px;
            left: -40px;
        }

        &__diagmob {
            display: block;
            margin-top: 28px;
            margin-left: 20px;
            width: 274px;
            height: 62px;
            background: url('../img/intro_diagnostic.svg') center center/cover no-repeat;
            background-size: contain;
        }

        &__profimob {
            display: block;
            margin-top: 30px;
            margin-left: 59px;
            width: 280px;
            height: 66px;
            background: url('../img/intro_profi.svg') center center/cover no-repeat;
            background-size: contain;
        }

        &__pricemob {
            display: block;
            margin-top: 20px;
            margin-left: 20px;
            width: 215px;
            height: 53px;
            background: url('../img/intro_prices.svg') center center/cover no-repeat;
            background-size: contain;
        }

        &__garantmob {
            display: block;
            margin-top: 36px;
            margin-left: 184px;
            width: 173px;
            height: 45px;
            background: url('../img/intro_garantee.svg') center center/cover no-repeat;
            background-size: contain;
        }

        &__staffmob {
            display: block;
            margin-top: 26px;
            margin-left: 20px;
            width: 320px;
            height: 89px;
            background: url('../img/intro_staff.svg') center center/cover no-repeat;
            background-size: contain;
        }

        &__diagnostic, &__ptofi, &__lowprice, &__garantee, &__staff {
            // margin: 0;
            // padding: 0;
            // transform: none;
            // background-size: 100%;
            // font-weight: bold;
            // font-size: 16px;
            // line-height: 19px;
            // letter-spacing: 0.01em;
            // color: #FFFFFF;
            display: none;
        }

        // &__diagnostic {
        //     width: 274px;
        //     height: 62px;   
        //     background-size: 100%;
        //     margin-left: 20px;
        //     margin-top: 29px;
        // }

        // &__ptofi {
        //     width: 300px;
        //     height: 95px;
        //     background-size: 100%;
        //     margin-left: 59px;
        //     // margin-top: 30px;
        //     line-height: 125px;
        //     padding-left: 20px;
        // }

        // &__lowprice {
        //     width: 215px;
        //     height: 53px;
        //     margin-top: 20px;
        //     margin-left: 20px;
        // }

        // &__garantee {
        //     width: 173px;
        //     height: 45px;
        //     margin-top: 36px;
        //     margin-left: 174px;
        // }

        // &__staff {
        //     width: 318px;
        //     height: 86px;
        //     margin-top: 26px;
        //     margin-left: 20px;
        //     padding: 15px 30px 17px 45px;
        // }
    }

    .abil {
        &__wrapper {
            margin-bottom: 20px;
        }

        &__manufacturer {
            display: block;
        }

        &__title {
            margin: 0;
            width: 292px;
            font-size: 18px;
            color: #141414;
            margin-left: 40px;
            margin-top: 110px;
        }

        &__suubtitle {
            margin-left: 124px;
            font-size: 14px;
            color: #141414;
            width: 230px;
            span {
                display: block;
                margin-left: -65px;
                margin-top: 33px;
                font-size: 30px;
                color: #141414;
            }
        }

        &__tel {
            // position: relative;
            // transform: none;
            // width: 320px;
            // height: 334px;

            // img {
            //     width: 100%;
            //     height: 100%;
            //     top: -100px;
            //     left: -130px;
            // }
            
            // a {
            //     display: none;
            // }
            display: none;
        }

        &__maintel {
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
            width: 160px;
            height: 22px;
            // margin-top: 40px;
            // margin-left: -80px;
            a {
                display: block;
                margin-top: 20px;
            }
        }

        &__phone {
            display: block;
            width: 379px;
            height: 334px;
            background: url('../img/abil_telephone_bg.svg') center center/cover no-repeat;
            background-size: contain;
            margin-left: -60px;
            margin-top: -50px;
            padding-top: 130px;
            padding-left: 160px;
        }
    }

    .section {
        &__refill {
            min-height: 1800px;
        }

        &__update {
            min-height: 2400px;
        }

        &__repair {
            min-height: 3800px;
        }

        &__trade {
            min-height: 2800px;
        }

        &__wrapper {
            margin: 0;
            padding: 0;
        }

        &__logo {
            width: 162px;
            height: 163px;
            img {
                transform: none;
                width: 100%;
            }
        }

        &__choice {
            width: 170px;
            height: 50px;
            font-weight: 500;
            font-size: 33.3795px;
            line-height: 48px;
            letter-spacing: 0.01em;
            color: #FFFFFF;
            transform: translate(-390px,-35px);
        }

        &__menu {
            display: block;
            margin: 0 auto;
            
        }

        &__item {
            margin-bottom: 20px;
        }

        &__text {
            display: none;
        }
    }

    .refill {
        &__text, &__subtext {
            margin: 0;
            padding: 0;
            font-weight: 300;
            font-size: 18px;
            letter-spacing: 0.01em;
            color: #000000;
            margin-left: 20px;
            width: 328px;
            min-height: 156px;
        }

        &__adv, &__contacts {
            margin: 0;
            padding: 0;
            font-weight: 300;
            font-size: 24px;
            color: #000000;
            width: 328px;
            min-height: 245px;
            margin-left: 16px;
            margin-top: 50px;
        }

        &__contacts {
            position: relative;
            margin-top: 250px;
        }

        &__phone {
            width: 575px;
            height: 284px;
            font-weight: bold;
            font-size: 18px;
            color: #FFFFFF;
            transform: scale(0.8);
            margin-top: 85px;
            margin-left: -15px;
           
        }

        &__icon {
            display: none;
        }

        &__pic {
            // position: absolute;
            // top: 240px;
            // left: 275px;
            // display: block;
            // width: 61px;
            // height: 61px;
            // background: url('../img/el_phone-alt.png') center center/cover no-repeat;
            display: none;
        }

        &__mobile {
            position: absolute;
            display: block;
            width: 275px;
            height: 273px;
            z-index: -1;
            top: 45px;
            left: -160px;
        }

        &__adress {
            display: block;
        }
    }

    .update {
        &__text {
            width: 328px;
            min-height: 208px;
            font-weight: 300;
            font-size: 18px;
            letter-spacing: 0.01em;
            color: #000000;
            margin-left: 16px;
            margin-bottom: 0;
        }

        &__decision {
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 30px;
            text-align: center;
            width: 335px;
            height: 114px;
            transform: none;
            background-size: 400%;
        }

        &__step {
            &_one, &_two, &_three {
                width: 328px;
                min-height: 53px;
                margin: 0;
                margin-left: 16px;
                margin-bottom: 30px;
                font-size: 18px;
                color: #000000;
            }
        }

        &__explanation, &__models, &__about {
            width: 328px;
            min-height: 100px;
            margin: 0;
            margin-left: 16px;
            margin-bottom: 50px;
            font-weight: 300;
            font-size: 18px;
            letter-spacing: 0.01em;
            color: #000000;
        }

        &__onpoint, &__repair {
            margin: 0;
            font-weight: 300;
            font-size: 24px;
            letter-spacing: 0.01em;
            color: #000000;
        }

        &__onpoint {
            width: 328px;
            margin-left: 25px;
            margin-bottom: 50px;
            &_bg {
                left: 55px;
                top: 5px;
            }
        }

        &__repair {
            width: 328px;
            margin-left: 16px;
            &_bg {
                background-size: 100%;
                width: 272px;
                height: 209px;
                top: 30px;
                left: 40px;
            }
        }

        &__contacts {
            display: block;
            position: relative;
            width: 328px;
            height: 55px;
            background: url('../img/maintel_bg.png') center center/cover no-repeat;
            padding: 18px 135px 15px 50px;
            margin-top: 50px;

            img {
                position: absolute;
                left: 218px;
                top: 0;
            }
            
            a {
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                color: #FFF;
            }
        }
    }

    .repair {
        &__computers, &__printers, &__screens, &__notebooks {
            width: 193px;
            height: 36px;
            transform: none;
            margin-left: 151px;
            margin-top: 165px;
            font-weight: bold;
            font-size: 16px;
            line-height: 36px;
            letter-spacing: 0.01em;
            color: #FFFFFF;

            &_wrapper {
                position: relative;
            }

            &_content {
                margin: 0;
                padding: 0;
            }

            &_img {
                width: 225px;
                height: 206px;
                transform: none;
                background-size: 100%;
                position: absolute;
                top: 0;
                left: -25px;
            }

            &_text {
                margin: 0;
                margin-top: 44px;
                padding: 0;
                transform: none;
                width: 350px;
                min-height: 494;
                margin-left: 13px;
                font-weight: 300;
                font-size: 18px;
                letter-spacing: 0.01em;
                text-indent: 10px;
                color: #000000;
            }
        }

        &__computers {
            margin-top: 100px;
        }

        &__printers {
            margin-left: 16px;
            margin-top: 126px;

            &_wrapper {
                margin: 0;
            }

            &_img {
                left: 149px;
                top: 51px;
                width: 196px;
                height: 257px;
            }

            &_text {
                margin-top: 45px;
            }
        }

        &__screens {
            margin-top: 115px;
            margin-left: 151px;

            &_img {
                width: 261px;
                height: 203px;
                z-index: -1;
                left: -55px;
                top: 10px;
            }

            &_text {
                margin-top: 56px;
            }
        }

        &__notebooks {
            margin-left: 16px;

            &_wrapper {
                margin-top: -95px;
            }

            &_img {
                width: 223px;
                height: 192px;
                left: 121px;
                top: 30px;
            }

            &_text {
                margin-top: 88px;
            }
        }
    }

    .trade {
        &__rep {
            transform: translateY(-10px);
        }

        &__cartridge, &__models, &__reliability, &__original {
            &_wrapper {
                position: relative;
            }

            &_text {
                margin: 0;
                padding: 0;
                transform: none;
                width: 350px;
                min-height: 312px;
                margin-left: 16px;
                font-weight: 300;
                font-size: 15px;
                letter-spacing: 0.01em;
                color: #000000;
                margin-top: 197px;
            }

            &_img {
                position: absolute;
                margin: 0;
                padding: 0;
                transform: none;
                background-size: 100%;
                width: 197px;
                height: 203px;
                left: 173px;
                top: 68px;
                z-index: -1;
            }
        }

        &__cartridge {
            &_wrapper {
                margin-top: -60px;
            }

            &_img {
                height: 234px;
            }
        }

        &__models {
            &_wrapper {
                margin-top: -155px;
            }

            &_img {
                width: 201px;
                height: 228px;
                position: absolute;
                top: 0;
                left: 16px;
                z-index: -1;
            }

            &_text {
                margin-top: 196px;
            }
        }

        &__reliability {
            &_img {
                width: 186px;
                height: 200px;
                left: 158px;
                top: 0;
            }

            &_text {
                margin-top: 165px;
            }
        }

        &__original {
            &_img {
                width: 205px;
                height: 181px;
                left: 16px;
                top: 0;
            }

            &_wrapper {
                margin-top: -80px;
            }

            &_text {
                margin-top: 127px;
            }
        }

        &__text {
            margin: 0;
            padding: 0;
            transform: none;
            width: 328px;
            min-height: 390px;
            margin-left: 16px;
            margin-top: 50px;
            font-size: 18px;
            letter-spacing: 0.01em;
            color: #000000;
        }

        &__contacts {
            display: none;
        }

        &__tel {
            display: none;
        }

        &__mobtel {
            margin-top: 32px;
            display: block;
            width: 328px;
            height: 65px;
            background: url('../img/trade__telephone_bg.svg') center center/cover no-repeat;
            background-size: contain;
            text-align: center;
        }
    }

    .footer {
        height: 286px;
        margin-top: 0;

        &__logo {
            // width: 125px;
            // height: 149px;
            // left: 20px;
            // top: -45px;
            display: none;
        }

        &__logomob {
            position: absolute;
            display: block;
            width: 179px;
            height: 208px;
            background: url('../img/footer_logo_mob.svg') center center/cover no-repeat;
            background-size: contain;
            bottom: 124px;
        }

        &__wrapper {
            margin: 0;
            padding: 0;
            width: 360px;
            position: relative;
        }

        &__column {
            &-1, &-2, &-3, &-4 {
                margin: 0;
                padding: 0;
                position: absolute;
                transform: none;
                color: #FFFFFF;
                opacity: 0.5;
            }

            &-1 {
                width: 344px;
                height: 28px;
                left: 260px;
                top: 250px;
                font-weight: 300;
                font-size: 12px;
                color: #FFFFFF;
                opacity: 0.5;
            }

            &-2 {
                width: 344px;
                height: 14px;
                top: 216px;
                left: 8px;
                span {
                    transform: translate(161px,-17px);
                }
                
            }
            
            &-3 {
                font-weight: normal;
                font-size: 12px;
                width: 95px;
                height: 28px;
                left: 16px;
                top: 166px;
            }

            &-4 {
                width: 86px;
                height: 150px;
                font-size: 18px;
                color: #FFFFFF;
                left: 258px;
                top: 46px;
            }
        }
    }
}
