.abil {

    &__wrapper {
        margin-top: 139px;
        display: flex;
        margin-bottom: 400px;
    }

    &__info {
        margin-right: 56px;
    }

    &__title {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        color: #141414;
        margin-bottom: 22px;
        margin-left: 18px;
        span {
            color: #fff;
            background-color: #141414;
            padding: 5px 2px 5px 2px;
        }
    }

    &__suubtitle {
        margin-left: 285px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: #141414;
        span {
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            color: #141414;
        }
    }

    &__tel {
        position: relative;
        line-height: 10px;
        margin-top: 55px;

        img {
            position: absolute;
            z-index: -1;
            top: -200px;
            left: -240px;
        }
        a {
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;

            color: #FFFFFF;
        }
    }
}

