.logotype {
    width: 666px;
    height: 553px;
    background: url('../logo/logo_svg.svg') center center/cover no-repeat;
    background-size: contain;
    display: inline-block;
    margin-top: 35px;
    margin-left: -690px;
    transform: translateY(530px);
    // &_animated-logo {
    //     animation-name: showLogo;
    //     animation-duration: 8s;
    //     animation-fill-mode: forwards;
    // }
    }



.blot {
    width: 314px;
    height: 261px;
    z-index: -1;
    position: absolute;
    top: 550px;
    left: 310px;
}

.call {
    position: absolute;
    width: 538px;
    height: 474px;
    z-index: -1;
    top: 1335px;
    left: 727px;
    &__img {
        width: 100%;
    }
}