.main {
    margin-top: -590px;
    &__tel {
        display: none;
        &_phone {
            display: none;
        }
    }

    &_animated-show {
        animation-name: showSection;
        animation-duration: .8s;
        animation-fill-mode: forwards;
    }

    &_animated-fade {
        animation-name: fadeSection;
        animation-duration: .8s;
        animation-fill-mode: forwards;
    }

    padding-left: 508px;
    &__wrapper {
        padding-top: 152px;
        width: 730px;
        min-height: 330px;
    }

    &__city {
        margin: 0;
        padding: 0;
        position: absolute;
        display: inline-block;
        background-color: #000000;
        width: 165px;
        height: 40px;
        color: #FFFFFF;
        top: 0;
        left: 435px;
}

    &__title {
        h1 {
            position: relative;
            margin-left: 90px;
            background-color: black;
            width: 610px;
            padding-left: 10px;
            height: 60px;
            font-weight: 500;
            font-size: 40px;
            letter-spacing: 0.01em;
            color: #FFFFFF;
            font-weight: 500;
        }

        h2 {
            margin-left: 193px;
            top: 30px;
            margin-right: 65px;
            
            font-weight: normal;
            font-size: 24px;
            line-height: 145%;
            color: #000000;
            text-align: right;
            margin-bottom: 21px;
        }
        
        h3 {
            margin-left: 88px;
            
            font-weight: 300;
            font-size: 16px;
            line-height: 145%;
            letter-spacing: -0.01em;
            color: #000000;
           span {
            
            font-weight: 300;
            font-size: 16px;
            line-height: 145%;
            letter-spacing: -0.01em;
            color: #000000;
            opacity: 0.5;
           }
        }
    }
}

