.refill {
    display: none;
    
    &_animated-fade {
        animation-name: fadeSection;
        animation-duration: .8s;
        animation-fill-mode: forwards;
    }

    &_animated-show {
        animation-name: showSection;
        animation-duration: .8s;
        animation-fill-mode: forwards;
    }

    &__mobile {
        display: none;
    }
    
    &__text {
        margin-left: 282px;
        width: 800px;
        height: 52px;
        margin-top: 80px;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.01em;
        color: #000000;

        span {
            font-style: normal;
            font-weight: 100;
            font-size: 18px;
            letter-spacing: 0.01em;
            color: #000000;
        }
    }

    &__pic {
        display: none;
    }

    &__city {
        display: inline-block;
        color: #FFF;
        padding: 10px 10px 7px 5px;
        width: 73px;
        height: 33px;
        background-color: #141414;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.01em;
        line-height: 13px;
    }

    &__adv {
        width: 929px;
        height: 70px;
        margin-top: 67px;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 145%;
        color: #000000;
        margin-left: 157px;
    }

    &__subtext {
        width: 800px;
        height: 130px;
        margin-left: 282px;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 145%;
        margin-top: 45px;
        margin-bottom: 51px;
        color: #000000;

        span {
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 145%;
        }
    }

    &__adress {
        display: inline-block;
        width: 262px;
        height: 27px;   
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 145%;
        background-color: #000000;
        color: #FFF;
        text-align: center;
        
       
    }

    &__contacts {
        position: relative;
        margin-left: 44px;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 145%;
        color: #000000;
        height: 142px;
    }

    &__phone {
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 43px;
        margin-left: 12px;
        color: #141414;
        text-decoration: none;
    }

    &__icon {
        position: absolute;
        width: 272px;
        height: 142px;
        bottom: 0;
        left: 690px;
        z-index: -1;
        text-align: center;
    }

    &__callbtn {
        position: absolute;
        width: 61px;
        height: 61px;
        cursor: pointer;
        top: 22px;
        left: 86px;
        background-color: red;
    }

    &__round {
       transform: translate(-20px, -120px);
    }
}




.menu {

    &__item {
        width: 160px;
    }
}