.repair {
    display: none;

    &_animated-fade {
        animation-name: fadeSection;
        animation-duration: .8s;
        animation-fill-mode: forwards;
    }

    &_animated-show {
        animation-name: showSection;
        animation-duration: .8s;
        animation-fill-mode: forwards;
    }

    &__computers {
        display: block;
        background-color: #121212;
        width: 291px;
        height: 54px;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 54px;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        margin-bottom: 29px;

        &_content {
            margin-left: 14px;
        }

        &_wrapper {
            margin-top: 174px;
            display: flex;
        }

        &_img {
            width: 460px;
            height: 373px;
            background: url('../img/repair_computers_img.png') center center/cover no-repeat;
        }

        &_text {
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 145%;
            letter-spacing: 0.01em;
            text-indent: 10px;
            color: #000000;
            span {
                font-weight: 600;
            }
        }
    }

    &__printers {
        display: block;
        background-color: #121212;
        width: 255px;
        height: 54px;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 54px;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        margin-bottom: 31px;
        margin-left: 470px;

        &_wrapper {
            display: flex;
            margin: 70px 0 100px 95px;
            position: relative;
        }

        &_img {
            position: absolute;
            left:   635px;
            width: 378px;
            height: 498px;
            background: url('../img/repair_printers_bg.png') center center/cover no-repeat;
            z-index: -1;
        }

        &_text {
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 145%;
            letter-spacing: 0.01em;
            text-indent: 10px;
            color: #000000;
            span {
                font-weight: 600;
            }
        }
    }

    &__screens {
        display: block;
        background-color: #121212;
        width: 291px;
        height: 54px;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 54px;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        margin-bottom: 29px;

        &_wrapper {
            display: flex;
            margin-bottom: 100px;
        }

        &_img {
            width: 475px;
            height: 364px;
            background: url('../img/repair_screens_bg.png') center center/cover no-repeat;
        }

        &_text {
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 145%;
            letter-spacing: 0.01em;
            text-indent: 10px;
            color: #000000;
            span {
                font-weight: 600;
            }
        }
    }

    &__notebooks {
        display: block;
        background-color: #121212;
        width: 255px;
        height: 54px;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 54px;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        margin-bottom: 29px;
        margin-left: 570px;

        &_wrapper {
            position: relative;
            display: flex;
        }

        &_img {
            position: absolute;
            left: 680px;
            width: 409px;
            height: 352px;
            background: url('../img/repair_notebooks_bg.png') center center/cover no-repeat;
            z-index: -1;
        }

        &_text {
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 145%;
            letter-spacing: 0.01em;
            text-indent: 10px;
            color: #000000;
            span {
                font-weight: 600;
            }
        }
    }
}

